body {
    background-color: #f8f9fa;
    /* Fundo cinza claro */
}

.tab-content-area {
    background-color: #fff;
    border-radius: .5rem;
    padding: 1.5rem;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.patient-list-item {
    padding: 0.75rem 0;
    border-bottom: 1px solid #eee;
}

.patient-list-item:last-child {
    border-bottom: none;
}

.status-badge {
    font-size: 0.8em;
    padding: 0.3em 0.6em;
    border-radius: 0.25rem;
}